# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
log/

# OS files
.DS_Store
Thumbs.db

# dotenv
.env

# Excel/report files (opcional, si quieres ignorar archivos generados)
*.xlsx

# VSCode config (opcional)
.vscode/

# MacOS hidden files
._*

# Output folders (opcional)
dist/
build/
package-lock.json
